/* styles.css */
:root {
    --primary-bg-color: #000000;     /* Black background */
    --primary-text-color: #FFFFFF;   /* White text on the black background */
    --primary-accent-color: #FFA500; /* Orange accent color */
    --secondary-bg-color: #454545;
    --form-bg-color: #202020;
    --form-text-color: 		#989898;
  }
  
  body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
  
  a:hover {
    color: #ac7000;
  }

  a {
    color: var(--primary-accent-color);
  }

  link {
    color: var(--primary-accent-color);
  }

  h1 {
    color: var(--primary-accent-color)
  }

  .getStarted {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form {
    background-color: var(--form-bg-color);
    padding: 25px;
    border-radius: 10px;
    color: var(--form-text-color);
  }

  .formText {
    color: var(--form-text-color);
    text-align: center;
    font-size: small;
    margin-top: 0.5rem;
  }

  .homepage {
    width: 100%;
    height: 100%;
  }